name: Node CI
on:
  push:
    branches: [ "main" ]
    paths:
      - "package.json"
      - "package-lock.json"
      - "yarn.lock"
      - "pnpm-lock.yaml"
      - "**/*.js"
      - "**/*.ts"
      - "src/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "package.json"
      - "package-lock.json"
      - "yarn.lock"
      - "pnpm-lock.yaml"
      - "**/*.js"
      - "**/*.ts"
      - "src/**"
  workflow_dispatch:
jobs:
  build:
    if: ${{ hashFiles('package.json') != '' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm audit --audit-level=high
        continue-on-error: true
      - run: npm test --if-present
